
VM1_MANAGEMENT_IP=20.0.1.1
ROUTER_MANAGEMENT_IP=20.0.8.2
ROUTER2_MANAGEMENT_IP=20.0.8.3
VM2_MANAGEMENT_IP=20.0.1.4

VM1_IP=20.0.2.1
VM1_IP_PREFIX=20.0.2/24
VM1_LAST_IP=20.0.2.100
VM1_IF=ens6

VM1_MAC=12:34:56:68:9a:bc
ROUTER_VM1_MAC=12:34:56:68:9a:bc
ROUTER_VM2_MAC=12:34:56:68:9a:bc
ROUTER2_VM1_MAC=12:34:56:68:9a:bc
ROUTER2_VM2_MAC=12:34:56:68:9a:bc
VM2_MAC=12:34:56:68:9a:bc

# Switch 1 interface towards VM1
ROUTER_VM1_IF=ens6
ROUTER_VM1_IP=20.0.3.1
ROUTER_VM1_IF_PCI=0000:00:06.0

# Switch 1 interface towards VM2
ROUTER_VM2_IF=ens6
ROUTER_VM2_IP=20.0.4.1
ROUTER_VM2_LAST_IP=20.0.4.100

# Switch 2 interface towards VM1
ROUTER2_VM1_IF=ens6
ROUTER2_VM1_IP=20.0.5.1
ROUTER2_VM1_LAST_IP=20.0.5.100
ROUTER2_VM1_IF_PCI=0000:00:06.0

# Switch 2 interface towards VM2
ROUTER2_VM2_IF=ens6
ROUTER2_VM2_IP=20.0.6.1

VM2_IP=20.0.7.1
VM2_IP_PREFIX=20.0.7/24
VM2_LAST_IP=20.0.7.100
VM2_IF=ens6

TARGET=./test/aws.sh
USERNAME=user
LOCAL_IDENTITY_FILE=~/.ssh/yourkey.pem
BASTION_IP=1.2.3.4

